.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-input {
    padding: 3px 10px;
    width: 250px;
    height: 40px;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

.header-nav__link--sell {
    background-color: white;
    color: black;
    border-radius: 3px;
    text-decoration: none;
    padding: 3px 10px;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}