.item-detail {
    display: flex;
}

.item-image {
    flex: 1;
    padding-right: 20px;
}

.item-image img {
    width: 100%;
    height: auto;
}

.item-info {
    flex: 1;
}

.item-info__icon {
    display: flex;
}

.like-section {
    text-align: center;
    margin-left: 30px;
}

.like-section img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.comment-section {
    text-align: center;
    margin-left: 30px;
}

.comment-section img {
    margin-right: 5px;
}

.btn-success {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #FF5555;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
}

.category-tag {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 5px;
    font-size: 0.9em;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-image {
    width: 30px;
    height: 30px;
}

.comment-area {
    width: 80%;
    height: 246px;
}

.btn-send {
    padding: 10px;
    margin: 30px 0;
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #FF5555;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}