.profile__content {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.profile__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto 0;
}

.profile__name {
    font-size: 24px;
    margin-left: 30px;
    line-height: 150px;
}

.btn-profile-edit {
    cursor: pointer;
    margin: auto 30px;
    padding: 8px 12px;
    background-color: white;
    color: #FF5555;
    border: solid 2px #FF5555;
    border-radius: 3px;
    text-decoration: none;
    font-size: 14px;
    height: 40px;
}

.profile__tabs {
    border-bottom: solid 1px black;
    padding-left: 30px;
}

.profile__tab.active {
    color: red;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
}

.profile__tab:not(.active) {
    color: #5F5F5F;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
}

.profile__items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.item {
    width: 24%;
    padding: 30px;
    margin: 5px;
}

.item-image {
    width: 100%;
    height: auto;
}

.item-name {
    font-size: 1.1em;
    margin-top: 10px;
}